*{
    box-sizing: border-box;
}
body{
    background-color: brown;
    text-align: center;
    border-left: 10%;
   
    border-bottom:10%;
}

#cabecalho{
    width: 100%;
    height: 200px;
    max-width: 3000px;
    max-height: 800px;
    background-color: rgb(255, 146, 146);
    text-shadow: 0 0 15px rgba(255, 255, 255,0.3), 0 0 29px rgb(240, 47, 47);
    box-shadow: inset 0 0 32px rgb(240, 47, 47);
}
#titulo{
   position: relative;
   top: 50px;
    color: rgb(56, 4, 4);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
   
}
#conteudo{
    width: 100%;
    height: 1500px;
    max-height: 2000px;
    background-color: rgb(255, 146, 146);
    text-shadow: 0 0 15px rgba(255, 255, 255,0.3), 0 0 29px rgb(240, 47, 47);
    box-shadow: inset 0 0 32px rgb(240, 47, 47);
}
#texto{
     font-size: 80px;
     color: rgb(56, 4, 4);
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     max-zoom: 400px;
    
 }
 button{
    position: relative;
    top: 80px;
    background-color: rgb(177, 7, 35);
    transition: transform 1s;
    transform: translateX(0) scale(5.0);
}
button:hover,
button:focus {
  background: rgb(255, 1, 77);
  transform: translateX(10px) scale(6.5);
  
}
a{
    color: #240008;
    text-decoration:dotted;
    
}
#cabecalhop1{
    width: 100%;
    height: 460px;
    max-width: 3000px;
    max-height: 800px;
    background-color: rgb(255, 146, 146);
    text-shadow: 0 0 15px rgba(255, 255, 255,0.3), 0 0 29px rgb(240, 47, 47);
    box-shadow: inset 0 0 32px rgb(240, 47, 47);
}
#conteudop1{
    border-right: 20%;
    border-left: 20%;
    width: auto;
    height: 2600px;
    max-height: 3000px;
    background-color: rgb(255, 146, 146);
    text-shadow: 0 0 15px rgba(255, 255, 255,0.3), 0 0 29px rgb(240, 47, 47);
    box-shadow: inset 0 0 32px rgb(240, 47, 47);
}
#titulo1{
    position: relative;
    top: 30px;
     color: rgb(56, 4, 4);
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 80px;
    
 }
#mari{
    position: relative;
    top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 1200px;
}
#shanks{
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 1200px;
}
#mariana1{
    top: 10px;
float: left;
position: relative;
}
#mariana2{
    top: 506px;
    float: right;
    position: relative;
    width: 420px;
}
#mariana3{
    top: 660px;
    float: left;
    position: relative;
    width:430px;
    height: 650px;
}
#mariana4{
    top: 1150px;
    width: 430px;
    float: right;
    position: relative;
}
#voltar2{
    position: relative;
    top: 2490px;
    background-color: rgb(177, 7, 35);
    transition: transform 1s;
    transform: translateX(0) scale(5.0);}
    #voltar2:hover,
    #voltar2:focus {
  background: rgb(255, 1, 77);
  transform: translateX(10px) scale(6.5);
  
}
#t1{
   position: relative;
    float: right;
   top: -1050px;
   left: 420px;
     color: rgb(56, 4, 4);
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 80px;
    
}
#t2{
    position: relative;
    top: -750px;
   left: 10px;
    float: left;
     color: rgb(56, 4, 4);
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 80px;
    
}
#t3{
    position: relative;
    top: -370px;
   left: -10px;
    float: right;
     color: rgb(56, 4, 4);
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 80px;
    
}
#t4{
    position: relative;
    top: 290px;
    left: 10px;
    float: left;
     color: rgb(56, 4, 4);
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 80px;
    
}
#conteudop3{
    width: 100%;
    height: 500px;
    max-height: 2000px;
    background-color: rgb(255, 146, 146);
    text-shadow: 0 0 15px rgba(255, 255, 255,0.3), 0 0 29px rgb(240, 47, 47);
    box-shadow: inset 0 0 32px rgb(240, 47, 47);
}
#voltar3{
    position: relative;
    top: 200px;
    background-color: rgb(177, 7, 35);
    transition: transform 1s;
    transform: translateX(0) scale(5.0);}
    #voltar3:hover,
    #voltar3:focus {
  background: rgb(255, 1, 77);
  transform: translateX(10px) scale(6.5);
  
}